:root{
    --vermelho:#E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        color: var(--vermelho);
        font-family: 'Arial Black', 'Times New Roman', Times, serif;
        font-size: 2rem;
        margin-left: 5px;
    }
}
header nav a {
    display: inline-block;
    color: #AAA;
    text-decoration: none;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

/* elemento principal*/

.filme-principal{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../../img/masscredaserra-fundo.jpg');
    background-size: cover;
    height: 500px;
    padding-left: 20px;
    .warp-container{
        width: 70%;
    }
}
.img-filme-principal{
    height: 100%;
}
.filme-principal--img{
    width: 46%;
}

.filme-infor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    
    padding: 15px 35px;
    margin-right: 15px;
    font-size: 12px;
    transition: 1.5s ease all;
    i{
        margin-right: 6px;
    }
    &:hover{
        cursor: pointer;
        background-color: white;
        color:black;
        transition: 1.5s ease all;
    }
}
.content-filme-infor{
    margin-bottom: 40px;
    .titulo{
        margin-top: 15%;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .descricao{
        margin-top: 2%;
        margin-bottom: 3%;
    }
}

.box-filme{
    display: block;
    height: 40%;
    width: 40%;
}
.carrosel-filmes{
    margin-top: 3rem;
}