@media screen and (max-width: 1020px){

}

@media screen and (max-width: 900px){
    .img-filme-principal{
        display: none;
    }
    .filme-principal{
        width: 100%;
        .warp-container{
            width: 300%;
        }
    }
    
}

@media screen and (max-width: 900px){
    .container{
        flex-direction: column;
        margin: 1.3rem 0;
    }
}

@media screen and (max-width: 500px){
    .filme-principal{
        height: 120%;
        text-align: center;
        padding-bottom: 15%;
    }
    .botao{
        margin: 1rem;
        height: 40%;
    }
}